body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100VH;
}

textarea{
    resize: none;
    overflow-y: hidden; 
    line-height: 15px;
    /* width: 200px; */
    /* height: 30px; */
}